<!-- views/partials/footer.ejs -->
<section id="footer">
    <div class="container">
        <div id="copyright">
            <ul class="links">
                <li>&copy; 2025 studb024. Minden jog fenntartva.</li>
                <li>Design: <a href="http://html5up.net" target="_blank">HTML5 UP</a></li>
            </ul>
        </div>
    </div>
</section>